<a href="https://colab.research.google.com/github/awagler2/NODE/blob/main/scorecard_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd

# Load the datasets
df_imputed = pd.read_csv('full_imputed_final.csv')
fos19 = pd.read_csv('FieldOfStudyData1718_1819_PP.csv', dtype={'CIPCODE': str})
fos20 = pd.read_csv('FieldOfStudyData1819_1920_PP.csv', dtype={'CIPCODE': str})
fos21 = pd.read_csv('FieldOfStudyData1920_2021_PP.csv', dtype={'CIPCODE': str})
hsru=pd.read_csv('HSRU.csv')
df_imputed.head()

<ipython-input-47-2403783188>:4: DtypeWarning: Columns (26,29,30,501,502) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imputed = pd.read_csv('full_imputed_final.csv')

,row_number,unitid,year_x,inst_name,longitude,latitude,address,state_abbr,zip,phone_number,...,year_y,hsi_code,hsi_stem_code,year,excellencia_hsi_status_x,DoE,total_ft_undergrads,hispanic_ft_undergrads,hispanic_percent,excellencia_hsi_status_y
0,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2017.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
1,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2018.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
2,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2019.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
3,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2020.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
4,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2021.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI

In [11]:
print(fos19['UNITID'].value_counts())
print(fos20['UNITID'].value_counts())
print(fos21['UNITID'].value_counts())

UNITID
214777.0    536
201885.0    463
193900.0    453
174066.0    445
215293.0    430
           ...
493567.0      1
493576.0      1
493585.0      1
493600.0      1
493628.0      1
Name: count, Length: 6689, dtype: int64
UNITID
495767.0    553
214777.0    523
201885.0    472
174066.0    449
104151.0    440
           ...
496052.0      1
496292.0      1
451237.0      1
451255.0      1
451282.0      1
Name: count, Length: 6419, dtype: int64
UNITID
495767.0    551
201885.0    474
104151.0    467
104179.0    439
174066.0    436
           ...
451167.0      1
451194.0      1
451237.0      1
451255.0      1
451282.0      1
Name: count, Length: 6255, dtype: int64

In [48]:
# Reshape fos19 to wide format
fos19w = fos19.pivot_table(index='UNITID', columns='CIPCODE', values='IPEDSCOUNT2')
fos20w = fos20.pivot_table(index='UNITID', columns='CIPCODE', values='IPEDSCOUNT2')
fos21w = fos21.pivot_table(index='UNITID', columns='CIPCODE', values='IPEDSCOUNT2')
# Display the first few rows of the restructured dataframe

print(fos19w.shape)
print(fos20w.shape)
fos21w.shape
df_imputed.head()

(6255, 368)
(6158, 397)

,row_number,unitid,year_x,inst_name,longitude,latitude,address,state_abbr,zip,phone_number,...,year_y,hsi_code,hsi_stem_code,year,excellencia_hsi_status_x,DoE,total_ft_undergrads,hispanic_ft_undergrads,hispanic_percent,excellencia_hsi_status_y
0,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2017.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
1,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2018.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
2,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2019.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
3,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2020.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI
4,1.0,100654,2017,Alabama A & M University,-86.568504,34.783367,4900 Meridian Street,AL,35762,2.563725e+09,...,2021.0,3.0,3.0,2017.0,Not HSI,Non-HSI,10686.0,48.0,0.449186,Not HSI

This segment of code is merging the scorecard data with the full imputed data. Not that the dimention of the resulting data is huge (1,274,867) because each line if now a year * institution * cip entry.

In [49]:
# Merge the dataframes on the 'UNITID' column
merged_df = pd.merge(df_imputed, fos19, left_on='unitid',right_on='UNITID',how="left")
print(merged_df.columns)
print(df_imputed.shape)
print(fos19.shape)
print(merged_df.shape)

Index(['row_number', 'unitid', 'year_x', 'inst_name', 'longitude', 'latitude',
       'address', 'state_abbr', 'zip', 'phone_number',
       ...
       'EARN_COUNT_PELL_WNE_5YR', 'EARN_PELL_WNE_MDN_5YR',
       'EARN_COUNT_NOPELL_WNE_5YR', 'EARN_NOPELL_WNE_MDN_5YR',
       'EARN_COUNT_MALE_WNE_5YR', 'EARN_MALE_WNE_MDN_5YR',
       'EARN_COUNT_NOMALE_WNE_5YR', 'EARN_NOMALE_WNE_MDN_5YR',
       'EARN_COUNT_HIGH_CRED_5YR', 'EARN_IN_STATE_5YR'],
      dtype='object', length=684)
(23441, 510)
(228760, 174)
(1274867, 684)

This counts the number of STEM CIP CODES in the merged data and assigns a 1 when it meets the definition of NSF STEM. This should be the STEM breakdown,

STEM
0    1048324
1     226543

In [50]:
from IPython import get_ipython
from IPython.display import display
# %%
import pandas as pd

# Load the datasets
#df = pd.read_csv('ScoreCard_IPEDS.csv')
# Load the NSF_CIP_codes.csv and specify 'CIP Code' as string type
nsf=pd.read_csv('NSF_CIP_codes.csv', dtype={'CIP Code': str})

#nsf.head()
# %%

nsf['CIP2']=nsf['CIP Code']
# Now that 'CIP2' is guaranteed to be string type, .str accessor will work
nsf['CIP2'] = nsf['CIP2'].str.replace('.', '', regex=False)
print(nsf['CIP Code'].head())
# Convert to string and remove trailing .0
print(merged_df['CIPCODE'].head())
temp= merged_df['CIPCODE']
merged_df['CIPCODE2'] = temp.replace('.0', '', regex=False)
print(merged_df['CIPCODE2'].head())


#now merge by CIPCODE and CIP2
merged_df['STEM_CIP'] = merged_df['CIPCODE2'].apply(lambda x: x if str(x) in nsf['CIP Code'].values else 'Non-STEM') # Convert x to string for consistent comparison
merged_df['STEM'] = merged_df['CIPCODE2'].apply(lambda x: 1 if str(x) in nsf['CIP2'].values else 0) # Convert x to string for consistent comparison

print(merged_df['STEM'].value_counts())
print(merged_df['STEM_CIP'].value_counts())
print(merged_df.shape)

0    1.09
1    1.10
2    1.11
3    1.12
4    1.99
Name: CIP Code, dtype: object
0    0100
1    0109
2    0110
3    0110
4    0110
Name: CIPCODE, dtype: object
0    0100
1    0109
2    0110
3    0110
4    0110
Name: CIPCODE2, dtype: object
STEM
0    1048324
1     226543
Name: count, dtype: int64
STEM_CIP
Non-STEM    1274867
Name: count, dtype: int64
(1274867, 687)

In [51]:
import pandas as pd


#df=pd.read_csv('ScoreCard_IPEDS_CIP.csv')
#change to character strings
#hrsu['UNITID']=hrsu['UNITID'].astype(str)
#df['UNITID']=df['UNITID'].astype(str)
#check these are same type for comparison
print(hrsu['UNITID'].dtype)
print(merged_df['UNITID'].dtype)

# Create a binary variable 'HRSU' in d#f
merged_df['HRSU'] = merged_df['UNITID'].apply(lambda x: 1 if x in hrsu['UNITID'].values else 0)

# Print the value counts to check the result
print(merged_df['HRSU'].value_counts())
print(hrsu['UNITID'].values)

int64
float64
HRSU
0    1184651
1      90216
Name: count, dtype: int64
[104151 190576 133951 185828 228723 229115 228769 228778 228796 229027
 104179 110653 110671 110705 110714 132903 126562 225511 145600 182281
 187985 227216 122409 133669 188030 445188 110644]

In [ ]:
merged_df.to_csv('ScoreCard_IPEDS_CIP_HSRU.csv', index=False)